<section id="middle" class="bg-headline">
	<div class="headline_inner d-flex justify-content-start py-5 px-5">
		<h1 class="text-shadow">Carro</h1>
	</div>
</section>
<section id="breadcrum" class="border-bottom">
	<div class="breadcrum d-flex justify-content-start bg-white py-2 px-5 ">
		<nav class="breadcrum">
			<a href="tienda.html">Tienda</a> | Carro
		</nav>
	</div>
</section>
<section id="main" class="bg-white px-5 py-3">
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12">
				<div class="card card-registration card-registration-2">
					<div class="card-body p-0">
						<div class="row g-0">
							<div id="cartProductCol" class="col-lg-8"></div>
							<div id="resumeProductCol" class="col-lg-4"></div>
							<div class="p-3 d-grid gap-2 d-sm-flex justify-content-between border-top">
								<h5 class="text-start"><a href="#" onclick="loadView('tienda')" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Seguir comprando</a></h5>
								<h5 class="text-end"><a href="#" onclick="loadView('checkout')" class="text-body">Ir al Pago <i class="fas fa-long-arrow-alt-right me-2"></i></a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>