<section id="middle">
    <div class="middle_inner ">
        <div id="myCarousel" class="carousel slide mb-0" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/slider-1.jpg"width="1268" height="712" alt="">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Nueva línea de alimentos</h1>
                            <p>Cholito se esfuerza en traer alimentos sanos y ricos...</p>
                            <p><a class="btn btn-lg btn-primary" onclick="loadView('tienda')">Ver productos</a></p>
                        </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/slider-2.jpg"width="1268" height="712" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Quieres ser parte del Team Cholito?.</h1>
                        <p>Estamos buscando representantes de nuestra organización...</p>
                        <p><a class="btn btn-lg btn-primary" href="#" onclick="loadView('contacto')">Postula aquí</a></p>
                    </div>
                </div>
            </div>
                <div class="carousel-item">
                    <img src="img/slider-3.jpg"width="1268" height="712" alt="">
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Un mundo de servicios.</h1>
                            <p>Revisa todos los servicios disponibles para el cuidado de tu mascota.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" onclick="loadView('servicios')">Ir a servicios</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
    <div class="container marketing" id="subcarousel">
        <div class="row pt-4">
            <div class="col-lg-4">
                <h2>Perros</h2>
                <img src="img/circle-dog.png" alt="Productos para Perritos">
                <p><a class="btn btn-primary" href="#" onclick="loadView('tienda')">Ver productos »</a></p>
            </div>
            <div class="col-lg-4">
                <h2>Gatos</h2>
                <img src="img/circle-cat.png" alt="Productos para Gatitos">
                <p><a class="btn btn-primary" href="#" onclick="loadView('tienda')">Ver productos »</a></p>
            </div>
            <div class="col-lg-4">
                <h2>+ Mascotas</h2>
                <img src="img/circle-others.png" alt="Productos para tus Mascotas">
                <p><a class="btn btn-primary" href="#" onclick="loadView('tienda')">Ver productos »</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white border-bottom" id="main-content">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Somos Sustentables</h1>
        <p class="fs-5 text-muted">Nuestra tienda importa, elabora y vende productos sustentables.</p>
    </div>
</section>