<section id="middle" class="bg-headline">
    <div class="headline_inner d-flex justify-content-start py-5 px-5">
        <h1 class="text-shadow">Nosotros</h1>
    </div>
</section>
<section id="breadcrum" class="border-bottom">
    <div class="breadcrum d-flex justify-content-start bg-white py-2 px-5 ">
        <nav class="breadcrum">
            <a href="#">Inicio</a> | Nosotros
        </nav>
    </div>
</section>
<section id="main" class="bg-white px-5 py-3">
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Quienes Somos</h1>
                <p class="col-md-8 fs-4">Cholito Store es una tienda destinada a la ayuda de ONG's. Inicia a partir del 2022, motivados por la poca ayuda y conciencia con respecto a los animales, es por eso que la tienda busca ayudar con donaciones de dinero y distintos insumos a una ONG de animales. Cholito Store promueve la tenencia resposable y la educacion civil con respecto a los animales.</p>
            </div>
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Mision</h2>
                    <p>Nuestra misión principal es ser una tienda sustentable, y amigable con los animales. Promover el cuidado con productos y servicios que sean basados en prácticas orgánicas y sustentables.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Vision</h2>
                    <p>Cholito fue un guía en la idea de este proyecto. La idea de hacer esta tienda nació gracias a mi primera mascota, la cual tuvo una larga vida. Y si estás leyendo esto es porque no tienes vida, gracias. #NoMasAnticuchosConChip</p>
                </div>
            </div>
        </div>
    </div>
</section>