<section class="footer-content d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 px-5">
    <div class="footer_inner mx-auto text-center">
        <a href="" title="Pet Rescue" class="logo">
            <img src="https://isanchezcigna.github.io/portfolio-project-simpleweb/img/logo-cholitostore-dark.png" alt="Pet Rescue">
        </a>
        <nav>
            <div class="menu-footer-navigation-container">
                <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item"><a onclick="loadView('nosotros')" class="nav-link">Quienes Somos</a></li>
                    <li class="nav-item"><a  class="nav-link">Terminos y Condiciones</a></li>
                    <li class="nav-item"><a   class="nav-link">Seguimiento Pedidos</a></li>
                </ul>
            </div>
        </nav>
        <div class="container d-flex flex-wrap social_wrap_inner"></div>
            <ul class="nav me-auto justify-content-center">
                <a class="nav-link" href="https://facebook.com/cholitostore.cl"><i class="fab fa-facebook"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
            </ul>
            <span class="footer_copyright copyright text-white">Cholito Store SpA © 2022 / Todos los Derechos Reservados</span>
        </div>
        
    </div>
</section>